<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <div formGroupName="userData">
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" class="form-control" formControlName="username">
                        <span class="help-block" *ngIf="!signUpForm.get('userData.username')?.touched && !signUpForm.get('userData.username')?.valid">
                            Please Enter a valid  UserName
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" formControlName="email">
                        <span class="help-block" *ngIf="!signUpForm.get('userData.email')?.touched && !signUpForm.get('userData.email')?.valid">
                            Please Enter a valid  Email
                        </span>
                    </div>
                </div>
                <div *ngFor="let gender of genders">
                    <label>
                        <input type="radio" [value]="gender" formControlName="gender">
                        {{gender}}
                    </label>
                </div> 
                <div formArrayName="hobbies">
                    <div>
                        <button type="button" class="btn btn-warning" (click)="addHobby()">
                            Add Hobby
                        </button>
                    </div>
                    <div class="form-group" *ngFor="let hobby of hobbyControls; let i=index;">
                        <input type="text" class="form-control" [formControlName]="i">
                    </div>
                </div>                
                <br>
                <div>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
                </div> 
            </form>
        </div>
    </div>
</div>