<!--Toolbar-->
<!-- <mat-toolbar color="primary" class="navbar">
    <div>
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <span>Angular App</span>
    </div>
    
    <div>
        <span>Home</span>
        <span>About</span>
        <span>Services</span>
    </div>
</mat-toolbar>
<br> -->


<br><br><br>
<!--MatExpansion   multi="true" ==>remove the accordian feature hideToggle ==> close top right icon-->
<mat-accordion class="design" >
   
        <mat-expansion-panel  [ngClass] = "panelFocus"
                         [expanded]="step === 0" (opened)="setStep(0)"
                         (afterExpand)="setVisible(true)"
                         (closed)="closePan(true)"
                         >
        <mat-expansion-panel-header [style.background]=" favoriteColor=='gray'?'gray':'#b1c5e6' "
        >
            <mat-panel-title>
                Selvakumar Raman
            </mat-panel-title>
            <mat-panel-description>
                Personal Details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I am Selvakumar Raman and my native place is madurai.</p>
        <mat-action-row>
            <button mat-raised-button color="primary">
                Submit
            </button>
        </mat-action-row>
        </mat-expansion-panel>
    
    
    
        <mat-expansion-panel [ngClass] = "panelFocus" 
                         [expanded]="step === 1" (opened)="setStep(1)"
                         (afterExpand)="setVisible(true)"
                         (closed)="closePan(true)"
                        >
        <mat-expansion-panel-header [style.background]=" favoriteColor=='gray'?'gray':'#b1c5e6' ">
            <mat-panel-title>
                Selvakumar Raman
            </mat-panel-title>
            <mat-panel-description>
                Educational Details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I am Selvakumar Raman, working as an Software Engineer.</p>
        <mat-action-row>
            <button mat-raised-button color="primary">
                Submit
            </button>
        </mat-action-row>
    </mat-expansion-panel>
  
    
   
        <mat-expansion-panel  [ngClass] = "panelFocus"
                          [expanded]="step === 2" (opened)="setStep(2)" 
                          (afterExpand)="setVisible(true)"
                          (closed)="closePan(true)"
                        >
        <mat-expansion-panel-header [style.background]=" favoriteColor=='gray'?'gray':'#b1c5e6' "
        >
            <mat-panel-title>
                Selvakumar Raman
            </mat-panel-title>
            <mat-panel-description>
                Other Details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I am Selvakumar Raman, won first prize in Dance  Competion.</p>
        <mat-action-row>
            <button mat-raised-button color="primary">
                Submit
            </button>
        </mat-action-row>
    </mat-expansion-panel>

</mat-accordion>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Pick your theme</h4>
        </div>
        <div class="col-md-3 radioBtn">
            <mat-radio-group name="colorlst" [(ngModel)]="favoriteColor"
                [ngModelOptions]="{standalone: true}" (change)="radioChange($event)">
                <mat-radio-button *ngFor="let color of colors" [value]="color"
                                   name="blue" disableRipple>
                    <strong>{{color}}</strong>&nbsp;
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
</div>


